.container{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.coverImageContainer{
    position: relative;
    padding-bottom: 33.3333%;
}

/* .coverImageLayer class removed as it's no longer used */

.coverImage{
    inset: 0;
    height: 100%;
    opacity: 1; /* Changed from 0 to 1 */
    position: absolute;
    width: 100%;
    object-fit: cover; /* Added */
    object-position: 50%; /* Added */
}

.profileContainer{
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-xl);
    flex-wrap: wrap;
}

.profileDetails{
    flex: 1;
    max-width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.basic{
    flex: 1;
    max-width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);    
}

.username{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;

    font-weight: var(--font-weight-light);
    font-size: var(--font-size-2xl);
}

.displayName{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;

    font-size: var(--font-size-3xl);
}

.description{
    overflow-wrap: anywhere;
    word-break: normal;
}

.error{
    overflow-wrap: anywhere;
    word-break: normal;
    color: var(--color-error);
}